.cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    @extend %mixin-card;
    display: flex;
    flex-direction: column;
    width: 255px;
    margin-bottom: 30px;
}
.card-top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
.card-top-side-text {
    background-color: #F7F7F7;
    color: #B2B2B2;
    border-radius: 4px;
    font-weight: 900;
    font-size: 10px;
    line-height: 1px;
    padding: 14px 14px;
    cursor: pointer;
    margin-left: 20px;
}
.card-top-side-icons {
    display: flex;
    padding-right: 20px;
}
.card-top-side-compare {
    padding: 0;
    background-color: #ffffff;
    background-image: url("./../img/card/compare.svg");
    content: "";
    width: 30px;
    height: 30px;
    border: none;
    margin-right: 12px;
    cursor: pointer;
    outline: none;
}
.card-top-side-favourites {
    padding: 0;
    background-color: #ffffff;
    background-image: url("./../img/card/favourite.svg");
    content: "";
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    outline: none;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-pic {
    margin-bottom: 25px;
}
.card-title {
    padding-left: 47px;
    padding-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 15px;
}
.card-rate {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card-stars {
   
}
.card-star {
    height: 26px;
    width: 26px;
}
.card-star-half {
    height: 26px;
    width: 26px;
}
.card-star-empty {
    height: 26px;
    width: 26px;
}
.card-rate-text {
    padding-left: 9px;
    font-weight: 900;
    font-size: 12px;
    line-height: 30px;
    color: #B3B3B3;
}
.card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.card-price-value {
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}
.card-price-cart-icon {
    margin-left: 12px;
}