// HEADER categories start
.header-bottom-menu {
    display: flex;
    border-top: $border;
    height: 60px;
    position: relative;
    margin-top: 30px;
  }
  .header-categories-list {
    display: flex;
    position: relative;
    align-items: center;
    border-right: $border;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #808080;
    height: 62px;
    padding-top: 8px;
    text-align: center;
    margin-left: 20px;
    font-family: "Roboto", "Arial", sans-serif;
  }
  .header-list-button {
    display: flex;
    align-items: center;
    background-color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    color: #808080;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    width: 200px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .header-list-menu {
    padding-right: 20px;
  }
  .header-categories-menu {
    list-style: none;
    position: absolute;
    width: 150px;
    top: 40px;
    background-color: #fff;
    z-index: 10;
  }
  .header-categories-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 60px;
    color: #808080;
  }
  // HEADER categories end
  
  // HEADER offers start
  .header-offers {
    display: flex;
    align-items: center;
  }
  .header-offers-list {
    list-style: none;
    display: flex;
    padding-top: 5px;
    height: 60px;
    margin-left: 12px;
  }
  .header-offers-item:not(:first-child) {
    margin-left: 35px;
  }
  .header-offers-item:last-child {
    margin-right: 0;
  }
  .header-offers-links {
    font-family: "Roboto", "Arial", sans-serif;
    color: #666666;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 60px;
  }
  // HEADER offers end
  
  // HEADER tools start
  .header-tools {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 60px;
  }
  .header-tools-item {
    position: relative;
    display: flex;
    align-items: center;
    border-right: $border;
    height: 60px;
    cursor: pointer;
    padding-top: 8px;
  }
  .header-tools-item:first-child {
    border-left: $border;
    margin-left: 66px;
    padding-left: 10px;
    padding-right: 20px;
  }
  .header-tools-item:nth-child(2) {
    margin-left: 7px;
    padding-right: 20px;
  }
  .header-tools-item:last-child {
    border-right: none;
    margin-left: 10px;
  }
  .header-tools-title {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #B3B3B3;

    &:first-child {
      padding-right: 30px;
      padding-left: 15px;
    }
  }
  .header-tools-title::after {
    position: absolute;
    top: 12px;
    right: 10px;

    background-image: url(.././img/svg/dropdown-arrow.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    content: "";
  }
  .header-list-link {
    color: #808080;
    text-decoration: none;
  }
  .header-list-item {
    border: $border;
    text-align: center;
  }
  .header-tools-list {
    list-style: none;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    background-color: #fff;
    color: #808080;
    z-index: 10;

  }
  .search-breakdown {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    color: #b3b3b3;
  }
  