.header {
  height: 180px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}
.header-top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 23px;
  padding-right: 41px;
  padding-top: 35px;
}
.header-logo-link, .footer-logo-link{
  text-decoration: none;
  margin-left: 40px;
}
.header-logo, .footer-logo {
  font-weight: 900;
  font-size: 22px;
  line-height: 1;
  color: #4d4d4d;
  letter-spacing: 1.65px;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
}

// HEADER search start
.header-search {
  display: flex;
  border: 2px solid #f5f5f5;
  border-radius: 4px;
  width: 380px;
  height: 50px;
}
.search-submit {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding-right: 7px;
  // padding-left: 12px;
  border: none;
  cursor: pointer;
}
.submit-icon {
  height: 25px;
  width: 25px;
}
.header-search-input {
  width: 216px;
  display: flex;
  align-items: center;
  outline: none;
}
.search-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 46px;
  // padding-left: 20px;
  padding-right: 20px;
  border: none;
  outline: none;
}
.search-text::placeholder {
  font-weight: bold;
  font-size: 12px;
  line-height: 50px;
  color: #999999;
}
.search-breakdown {
  border: none;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 1;
  color: #b3b3b3;
  font-family: "Roboto", "Arial", sans-serif;
}
// HEADER search end
